@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}

body {
  background: hsl(222, 26%, 31%);
  transition: background 100ms ease-in;
}

main .container {
  max-width: 1440px;
  width: 34rem;
  margin: 6.23rem auto;
}
main .container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-inline: 0.5em;
}
main .container .head p {
  font-size: 33px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
main .container .head .themes {
  display: flex;
  margin-top: 4px;
  align-items: center;
  gap: 1.65em;
}
main .container .head .themes .theme {
  font-size: 0.76em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}
main .container .head .themes .toggles {
  width: 70px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main .container .head .themes .toggles .values {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: -17px;
  left: 17px;
  gap: 1em;
}
main .container .head .themes .toggles .values p {
  font-size: 0.9em;
  font-weight: 500;
}
main .container .head .themes .toggles input[type=range] {
  width: 100%;
  position: relative;
  margin-top: -1px;
  margin-left: 4px;
  -webkit-appearance: none;
  background: hsl(223, 31%, 20%);
  border-radius: 30px;
  height: 27px;
  outline: none;
  cursor: pointer;
}
main .container .head .themes .toggles input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: hsl(6, 63%, 50%);
  cursor: pointer;
}
main .container .input {
  width: 100%;
  height: 8em;
  margin-top: 1.43em;
  background: hsl(223, 31%, 20%);
  display: flex;
  align-items: center;
  margin-bottom: 1.75em;
}
main .container .input .output {
  background: hsl(223, 31%, 20%);
  color: rgb(255, 255, 255);
  font-size: 3.4em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  float: right;
  letter-spacing: 0.3px;
  padding-right: 0.6em;
  text-align: end;
}
main .container .input .output ::placeholder {
  color: rgb(255, 255, 255);
  font-size: 35px;
}
main .container .hey {
  border-radius: 15px;
  background: hsl(223, 31%, 20%);
  width: 100%;
  padding: 1.8rem 0;
}
main .container .hey .btns {
  background: hsl(223, 31%, 20%);
  width: 88%;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  gap: 1.5rem;
  grid-auto-rows: auto;
  margin: 0 auto;
}
main .container .hey .btns .btn {
  width: fit-content;
  padding: 0.9rem 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 2.5em;
  background: hsl(30, 25%, 89%);
}
main .container .hey .btns .del {
  width: fit-content;
  padding: 0.5rem 1.8rem;
  color: rgb(255, 255, 255);
  font-size: 1.6em;
  background: hsl(225, 21%, 49%);
}
main .container .hey .btns .decimal, main .container .hey .btns .num0, main .container .hey .btns .divide, main .container .hey .btns .mutlipy {
  margin-top: -5px;
}
main .container .hey .big {
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: hsl(223, 31%, 20%);
  gap: 1.3rem;
  margin: 1.3rem auto 0 auto;
}
main .container .hey .big .big-btn0 {
  padding: 1.23rem 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 0.2px 0px hsla(185, 58%, 25%, 0.065), 0px 0.5px 0px hsla(185, 58%, 25%, 0.093), 0px 1px 0px hsla(185, 58%, 25%, 0.115), 0px 1.8px 0px hsla(185, 58%, 25%, 0.137), 0px 3.3px 0px hsla(185, 58%, 25%, 0.165), 0px 8px 0px hsla(185, 58%, 25%, 0.23);
}
main .container .hey .big .big-btn {
  padding: 1.23rem 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  background: hsl(6, 63%, 50%);
  box-shadow: 0px 0.2px 0px hsla(25, 99%, 27%, 0.065), 0px 0.5px 0px hsla(25, 99%, 27%, 0.093), 0px 1px 0px hsla(25, 99%, 27%, 0.115), 0px 1.8px 0px hsla(25, 99%, 27%, 0.137), 0px 3.3px 0px hsla(25, 99%, 27%, 0.165), 0px 8px 0px hsla(25, 99%, 27%, 0.23);
}
main button {
  color: hsl(60, 10%, 19%);
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}

.theme2 {
  background: hsl(0, 0%, 90%);
}
.theme2 main .container .head .themes .toggles input[type=range] {
  background: hsl(0, 5%, 81%);
}
.theme2 main .container .head .themes .toggles input[type=range]::-webkit-slider-thumb {
  background: hsl(25, 98%, 40%);
}

.theme3 {
  background: hsl(268, 75%, 9%);
}
.theme3 main .container .head .themes .toggles input[type=range] {
  background: hsl(268, 71%, 12%);
}
.theme3 main .container .head .themes .toggles input[type=range]::-webkit-slider-thumb {
  background: hsl(176, 100%, 44%);
}/*# sourceMappingURL=main.css.map */