@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  background: hsl(222deg, 26%, 31%);
  color: hsl(60deg, 10%, 19%);
}

main .container {
  max-width: 1440px;
  width: 25rem;
  margin: 5rem auto;
}
main .container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}
main .container .input {
  border-radius: 15px;
  width: 100%;
  height: 5rem;
  margin-block: 1rem;
  background: hsl(223deg, 31%, 20%);
  display: flex;
  align-items: center;
}
main .container .input .output {
  background: hsl(223deg, 31%, 20%);
  color: hsl(0deg, 0%, 100%);
  font-size: 32px;
  width: 25rem;
  display: flex;
  float: right;
  padding-right: 1rem;
  text-align: end;
}
main .container .input .output ::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
  font-size: 35px;
}
main .container .input .output :-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
  font-size: 35px;
}
main .container .input .output ::placeholder {
  color: hsl(0deg, 0%, 100%);
  font-size: 35px;
}
main .container .hey {
  border-radius: 15px;
  background: hsl(223deg, 31%, 20%);
  width: 100%;
  padding: 1rem 0;
}
main .container .hey .btns {
  background: hsl(223deg, 31%, 20%);
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  gap: 1rem;
  margin: 0 auto;
}
main .container .hey .btns .btn {
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  background: hsl(30deg, 25%, 89%);
  box-shadow: 0px 0.2px 0px hsla(35deg, 11%, 61%, 0.065), 0px 0.5px 0px hsla(35deg, 11%, 61%, 0.093), 0px 1px 0px hsla(35deg, 11%, 61%, 0.115), 0px 1.8px 0px hsla(35deg, 11%, 61%, 0.137), 0px 3.3px 0px hsla(35deg, 11%, 61%, 0.165), 0px 8px 0px hsla(35deg, 11%, 61%, 0.23);
}
main .container .hey .big {
  width: 90%;
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
  background: hsl(223deg, 31%, 20%);
  gap: 0.5rem;
  margin: 1rem auto 0 auto;
}
main .container .hey .big .big-btn0 {
  padding: 1rem 0;
  border-radius: 5px;
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 0.2px 0px hsla(185deg, 58%, 25%, 0.065), 0px 0.5px 0px hsla(185deg, 58%, 25%, 0.093), 0px 1px 0px hsla(185deg, 58%, 25%, 0.115), 0px 1.8px 0px hsla(185deg, 58%, 25%, 0.137), 0px 3.3px 0px hsla(185deg, 58%, 25%, 0.165), 0px 8px 0px hsla(185deg, 58%, 25%, 0.23);
}
main .container .hey .big .big-btn {
  padding: 1rem 0;
  border-radius: 5px;
  background: hsl(6deg, 63%, 50%);
  box-shadow: 0px 0.2px 0px hsla(25deg, 99%, 27%, 0.065), 0px 0.5px 0px hsla(25deg, 99%, 27%, 0.093), 0px 1px 0px hsla(25deg, 99%, 27%, 0.115), 0px 1.8px 0px hsla(25deg, 99%, 27%, 0.137), 0px 3.3px 0px hsla(25deg, 99%, 27%, 0.165), 0px 8px 0px hsla(25deg, 99%, 27%, 0.23);
}
main button {
  color: hsl(60deg, 10%, 19%);
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */