// Theme 1

// #### Backgrounds 
$Verydarkdesaturatedbluemainbackground: hsl(222, 26%, 31%);
$Verydarkdesaturatedbluetogglebackgroundkeypadbackground: hsl(223, 31%,20%);
$Verydarkdesaturatedbluescreenbackground: hsl(224, 36%, 15%) ;
// #### Keys -
 $Desaturateddarkbluekeybackground: hsl(225, 21%, 49%) ;
 $Desaturateddarkbluekeyshadow: hsl(224, 28%, 35%) ;
 $Redkeybackgroundtoggle: hsl(6, 63%, 50%) ;
 $Darkredkeyshadow: hsl(6, 70%, 34%) ;
 $Lightgrayishorangekeybackground: hsl(30, 25%, 89%) ;
 $Grayishorangekeyshadow: hsl(28, 16%, 65%) ;
//  #### Text - 
$Verydarkgrayishblue: hsl(221, 14%, 31%) ;
$White: rgb(255, 255, 255) ;


// ### Theme 2 

// #### Backgrounds 
$Lightgraymainbackground: hsl(0, 0%, 90%) ;
$Grayishredtogglebackgroundkeypadbackground: hsl(0, 5%, 81%) ;
$Verylightgrayscreenbackground: hsl(0, 0%, 93% );
// #### Keys 
$Darkmoderatecyankeybackground: hsl(185, 42%, 37%) ;
$Verydarkcyankeyshadow: hsl(185, 58%, 25%) ; 
$Orangekeybackgroundtoggle: hsl(25, 98%, 40%) ;
$Darkorangekeyshadow: hsl(25, 99%, 27%) ;
$Lightgrayishyellowkeybackground: hsl(45, 7%, 89%) ;
$Darkgrayishorangekeyshadow: hsl(35, 11%, 61%) ;
// #### Text 
$Verydarkgrayishyellow: hsl(60, 10%, 19%) ;
$Whitetext: rgb(255, 255, 255) ;


// ### Theme 3 


// #### Backgrounds 
$Verydarkvioletmainbackground: hsl(268, 75%, 9%) ;
$Verydark: hsl(268, 71%, 12%) ;
// #### Keys 
$Darkvioletkeybackground: hsl(281, 89%, 26%) ;
$Vividmagentakeyshadow: hsl(285, 91%, 52%) ;
$Purecyankeybackgroundtoggle: hsl(176, 100%, 44%) ;
$Softcyankeyshadow: hsl(177, 92%, 70%) ;
$Verydarkvioletkeybackground: hsl(268, 47%, 21%) ;
$Darkmagentakeyshadow: hsl(290, 70%, 36%) ;
// #### Text 
$Lightyellow: hsl(52, 100%, 62%) ;
$Verydarkblue: hsl(198, 20%, 13%) ;
$Whitetext: rgb(255, 255, 255);