
@use "./colors" as *;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');


@mixin responsiveness($width){
    @media (max-width: $width) {
        @content;
        }
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;

}
body{
    background: $Verydarkdesaturatedbluemainbackground;
    transition:  background 100ms ease-in;
}
main{
    .container{
        max-width: 1440px;
        width: 34rem;
        margin: 6.23rem auto;

        @include responsiveness(500px){
            width: 88%;
            margin: 1.8rem auto;
        }

        .head{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 3rem;
            padding-inline: .5em;
        
            p{
                font-size: 33px;
                font-weight: 700;
                color: $White;

            }
         .themes{
            display: flex;
            margin-top: 4px;
            align-items: center;
            gap: 1.47em;
                @include responsiveness(500px) {
                       margin-top: 15px;
                    }
            .theme {
                    font-size: .76em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 5600;
                }
            
                .toggles {
                    width: 70px;
                    border-radius: 30px;
                    position: relative;
                    // height: 25px;
                    display: flex;
                    flex-direction: column;
                    .values{
                        position: absolute;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        top:-17px;
                        left:17px;
                        gap: 1em;
                        p{
                            font-size: .9em;
                            font-weight: 500;
                            
                        }

                    }
                    input[type="range"]{
                        width: 100%;
                        position: relative;
                        margin-top: -1px;
                        padding-inline: .5em;
                        margin-left: 4px;
                        -webkit-appearance: none;
                        background: $Verydarkdesaturatedbluetogglebackgroundkeypadbackground;
                        border-radius: 30px;
                        height: 27px;
                        outline: none;
                        cursor: pointer;

                        &::-webkit-slider-thumb{
                            -webkit-appearance: none;
                            $size:17px;
                            width: $size;
                            height: $size;
                            border-radius: 50%;
                            background: $Redkeybackgroundtoggle;
                       
                            cursor: pointer;
                        }

                    }
                }
         }
        }
        .input{
            width: 100%;
            height: 8em;
            margin-top: 1.43em;
            background: hsl(223, 31%, 20%);
            display: flex;
            align-items: center;
            border-radius: 15px;
            margin-bottom: 1.75em;
                @include responsiveness(500px) {
                        height: 5.8em;
                    }
            .output{
                background: hsl(223, 31%, 20%);
                color: $White;
                border-radius: 15px;
                font-size:3.4em;
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                display: flex;
                float: right;
                letter-spacing: .3px;
                padding-right: .6em ;
                text-align: end;

                ::placeholder{
                    color: $White;
                    font-size: 35px;
                }
            }
        }
        .hey{
            border-radius: 15px;
            background:$Verydarkdesaturatedbluetogglebackgroundkeypadbackground;
            width: 100%;
            padding: 1.8rem 0;
            @include responsiveness(500px) {
                padding: 1.2rem 0;
                padding-bottom: 2.2em;
                }
        .btns{
            background: hsl(223, 31%, 20%);
            width: 88%;
            display: grid;
            grid-template-columns: repeat(4, 1.5fr);
            gap: 1.5rem;
            grid-auto-rows: auto;
            margin: 0 auto;
                @include responsiveness(500px) {
                       width: 85%;
                       gap: .9em;
                    }
            
            
            .btn{
                width: fit-content;
                padding: .7rem 2.5rem;
                border-radius: 10px;
                font-weight: 700;
                display: grid;
                place-items: center;
                font-size: 2.5em;
                background: hsl(30, 25%, 89%);
                box-shadow:0px 5px 0px $Grayishorangekeyshadow;
                &:hover{
                    background: $White;
                }
                @include responsiveness(500px) {
                  padding: 1rem 1.28rem;
                  font-size: 2em;
                }
                @include responsiveness(350px) {
                    padding: 1rem 1rem;
                    font-size: 2em;
                }

            }
            .del {
                width: fit-content;
                padding: .5rem 1.8rem;
                color:$White;
                font-size: 1.6em;
                background: $Desaturateddarkbluekeybackground;
                box-shadow: 0px 5px 0px $Desaturateddarkbluekeyshadow;
                &:hover {
                        background: rgba($color: $White, $alpha: 0.4);
                    }
                @include responsiveness(500px) {
                    padding: .3rem .9rem;
                    font-size: 1.2em;
                }
                @include responsiveness(350px) {
                    padding: .3rem .9rem;
                    font-size: 1em;
                }
        }
        .sec{
            margin-top: 5px;
            @include responsiveness(500px){
                margin-top: 3px;
            }
        }
        .thi{
            margin-top: 5px;
            margin-bottom: 10px;

        @include responsiveness(500px) {
                margin-top: 0px;
                margin-bottom: 8px;
                // font-size: 1.3em;
            }
        }
       .num0{
        width: auto;
       }
        .decimal ,.num0 ,.divide ,.mutlipy{
            margin-top: -5px;
        }

        }

        .big{
            width: 88%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: hsl(223, 31%, 20%);
            gap: 1.3rem;
            margin: 1.85rem auto 0 auto;
            @include responsiveness(500px){
                width: 86%;
                margin: 1rem auto 0 auto;
            }
            .big-btn0{
                padding: 1rem 0;
                border-radius: 5px;
                color: $White;
                font-size: 1.8em;
                background-color: hsl(225, 21%, 49%);
                box-shadow: 0px 5px 0px $Desaturateddarkbluekeyshadow;
                &:hover{
                    background: rgba( $White,  0.4);
                }
                @include  responsiveness(500px){
                    font-size: 1.5em;
                }
            }

            .big-btn{
                padding:1rem 0;
                border-radius: 5px;
                color: $White;
                font-size: 1.8em;
                box-shadow: 0px 5px 0px $Darkredkeyshadow;
                    background:$Redkeybackgroundtoggle;
                    &:hover {
                        // background: rgba($White,.3);
                        opacity: .7;
                        }
                        
            }
        }
    }
    }
    button{
        color: hsl(60, 10%, 19%);
        cursor: pointer;
        font-size: 32px;
        font-weight: 700;
    }

}
@mixin themer($main,$screen,$textcolor,$keybackground,$shadow,$toggle,$toggleshadow,$all,$toggleBg){
    background: $main;//main
    
        main .container {
            .head{
               p {
                color: $textcolor;
            }
            }
            .input {
                background: $screen;//screen
    
                .output {
                    background: $screen;//screen
                    color: $textcolor;//textcolor
                }
            }
    
            .hey {
                .btns {
                    .btn {}
    
                    .del {
                        background: $keybackground; //keybackground
                        box-shadow: 0 5px 0px $shadow;//shadow
                    }
                }
    
                .big {
                    .big-btn0 {
                        background: $keybackground;  //keybackground
                        box-shadow: 0px 5px 0px $shadow;  //shadow
                    }
    
                    .big-btn {
                        background: $toggle; //toggle
                        box-shadow: 0px 5px 0px $toggleshadow;  //toggleshadow
                    }
                }
            }
    
            .hey,
            .btns,
            .big {
                background: $all; //all
    
    
            }
    
            .head {
    
                p {
                    color: $textcolor; //textcolor
                }
    
                .themes .toggles input[type=range] {
                    background: $toggleBg ; //toggleBg
    
                    &::-webkit-slider-thumb {
                        background: $toggle; //toggle
                    }
                }
            }
        }
}
.theme2{
@include themer($Lightgraymainbackground, $Verylightgrayscreenbackground , $Verydarkgrayishyellow , $Darkmoderatecyankeybackground , $Verydarkcyankeyshadow ,$Verydarkcyankeyshadow ,$Orangekeybackgroundtoggle ,$Darkorangekeyshadow , $Grayishredtogglebackgroundkeypadbackground);
        main .container{
                .hey,
                .btns,
                .big {
                background: $Grayishredtogglebackgroundkeypadbackground;
            }
            .head .themes .toggles input[type=range] {
                background: $Grayishredtogglebackgroundkeypadbackground; //toggleBg
                &::-webkit-slider-thumb {
                    background: $Darkorangekeyshadow; //toggle
                }
            }}
                        main .container .hey .big .big-btn{
                            background: $Orangekeybackgroundtoggle;
                            box-shadow: 0px 5px 0px $Darkorangekeyshadow;
                        }
}
.theme3 {
@include themer($Verydarkvioletmainbackground, $Verydark, $Lightyellow, $Darkvioletkeybackground, $Darkvioletkeybackground, $Purecyankeybackgroundtoggle, $Softcyankeyshadow, $Verydark, $Softcyankeyshadow);
// @include themer($Verydarkvioletmainbackground,$Verydark ,$Lightyellow ,$Darkvioletkeybackground , $Vividmagentakeyshadow,$Darkmagentakeyshadow ,$Purecyankeybackgroundtoggle ,$Softcyankeyshadow );


        main .container .hey {
            .big {
                .big-btn0 {
                        box-shadow: 0px 5px 0px $Darkmagentakeyshadow; //shadow
                    }
                
                    .big-btn {
                        box-shadow: 0px 5px 0px $Softcyankeyshadow; //toggleshadow
                    }
            }
            .btns{ 
                    .btn {
                            background: $Verydarkvioletkeybackground; //screen
                            color: $Lightyellow; //textcolor
                            box-shadow: 0 4px 0px $Darkmagentakeyshadow;
                        }}}
        main .container .head .themes .toggles input[type=range] {
            background: $Verydark; //toggleBg
        }
            
}